{{ define "main" }}
<main class="main list" role="main">
	<div class="content main__content clearfix">
		<p>
			Welcome to DAHRSE-Midlands! We are a community of Digital Arts and Humanities Research Software Engineers (DAHRSEs) within the Midlands in England.
		</p>
		<h2>Get involved</h2>
		<ul>
			<li><strong>Future Events And Activities</strong>
			  <ul>
				  <li> We are planning targeted surveys and workshops.</li> 
				  <li> If you are interested in participating, please send email to <a href="mailto:dahrse.midlands@gmail.com">dahrse.midlands@gmail.com</a>.</li>
			  </ul>	
			<li><strong>Join Our Community</strong>
				<ul>
					<li>Are you a Research Software Engineer (RSE) in the Midlands with a focus on Digital Humanities and the Arts?</li>
					<li>Do your responsibilities as an RSE broadly intersect with the Digital Humanities and the Arts?</li>
					<li>If so, we invite you to join our community by completing the following form (Membership is free): <a href="https://tinyurl.com/join-dahrse-midlands">Click to join DAHRSE-Midlands</a>.</li>
					<li>You can also complete the following form above using the following QR code:</li>	
						<img src="https://github.com/spatialscientist/Mainroad/blob/master/static/img/join-dahrse-midlands-400.png?raw=true" alt="QR Code for DAHRSE-Midlands Registration" style="float: left; margin-right: 10px;">
						<div style="clear: both;"></div>
					<li>Follow us on social media. Please see other social media channels on this page.</li>
				</ul>
		<!-- <img src="" alt=""> -->
	</div>
	{{- with .Content }}
		<!-- {{ . }} -->
	</div>
	{{- end }}
	<!-- {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
	{{- range $paginator.Pages }}
		{{- .Render "summary" }}
	{{- end }} -->
	{{- if and (eq $paginator.TotalNumberOfElements 0) (not $.Content) }}
		<!-- <div class="warning">
			{{ partial "svg/files.svg" (dict "class" "warning__icon") }}
			<h3 class="warning__headline">{{ T "noposts_warning_title" | safeHTML }}</h3>
			<div class="warning__text">
				<p class="warning__description">{{ T "noposts_warning_description" | safeHTML }}</p>
				<p class="warning__tip">{{ T "noposts_warning_tip" | safeHTML }}</p>
			</div>
		</div> -->
	{{ end }}
</main>
<!-- {{ partial "pagination.html" . }} -->
{{ end }}